name: Tests And Linting

on:
  pull_request:
  push:

jobs:
  test:
    name: "Test (${{ matrix.python-version }}"
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
    uses: ./.github/workflows/test.yaml
    with:
      coverage: true
      python-version: ${{ matrix.python-version }}